backend/nodered/1T342MFX-TEST.json
[
  {
    "id": "tab_1t342mfx_test",
    "type": "tab",
    "label": "1T342MFX Test Payload",
    "disabled": false,
    "info": "Quick test flow to send a raw 1T342MFX access event to the backend API"
  },
  {
    "id": "inject_1t342mfx_test",
    "type": "inject",
    "z": "tab_1t342mfx_test",
    "name": "Send 1T342MFX Event",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "1T342MFX/test",
    "payload": "date",
    "payloadType": "date",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "build_1t342mfx_payload"
      ]
    ]
  },
  {
    "id": "build_1t342mfx_payload",
    "type": "function",
    "z": "tab_1t342mfx_test",
    "name": "Build Event Payload",
    "func": "msg.payload = {\n    major: 5,\n    minor: 76,\n    time: new Date().toISOString(),\n    cardType: 1,\n    cardReaderNo: 1,\n    doorNo: 1,\n    serialNo: 5341,\n    currentVerifyMode: 'faceOrFpOrCardOrPw',\n    mask: 'no',\n    pictureURL: 'http://10.12.1.97/LOCALS/pic/acsLinkCap/202604_00/07_053225_30076_0.jpeg',\n    FaceRect: { x: 1, y: 2, w: 3, h: 4 },\n    eventDescription: '(EVENT) Face Authentication Failed',\n    source: 'Node-RED Test'\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 100,
    "wires": [
      [
        "post_1t342mfx_event",
        "debug_1t342mfx_payload"
      ]
    ]
  },
  {
    "id": "post_1t342mfx_event",
    "type": "http request",
    "z": "tab_1t342mfx_test",
    "name": "POST to Backend",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://10.12.1.97:5000/api/v1/alerts/device-event",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "application/json"
      }
    ],
    "x": 650,
    "y": 100,
    "wires": [
      [
        "parse_1t342mfx_response"
      ]
    ]
  },
  {
    "id": "parse_1t342mfx_response",
    "type": "function",
    "z": "tab_1t342mfx_test",
    "name": "Check Response",
    "func": "try {\n    const data = JSON.parse(msg.payload);\n    msg.payload = data;\n    if (data.success) {\n        node.status({ fill: 'green', shape: 'dot', text: 'Saved' });\n    } else {\n        node.status({ fill: 'red', shape: 'ring', text: 'API error' });\n    }\n    return msg;\n} catch (error) {\n    node.warn('Failed to parse response: ' + error.message);\n    node.status({ fill: 'red', shape: 'ring', text: 'Parse error' });\n    return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 100,
    "wires": [
      [
        "debug_1t342mfx_response"
      ]
    ]
  },
  {
    "id": "debug_1t342mfx_payload",
    "type": "debug",
    "z": "tab_1t342mfx_test",
    "name": "Payload Preview",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug_1t342mfx_response",
    "type": "debug",
    "z": "tab_1t342mfx_test",
    "name": "API Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1070,
    "y": 100,
    "wires": []
  }
]