backend/nodered/Q1.01.04.json
[
    {
        "id": "21c15b8e308c95ae",
        "type": "tab",
        "label": "Q1.01.04 (Class Room 3)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a4b7cd50904da28",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "e06cdb731e9d1a9c"
            ]
        ]
    },
    {
        "id": "e06cdb731e9d1a9c",
        "type": "Discover",
        "z": "21c15b8e308c95ae",
        "name": "",
        "x": 500,
        "y": 60,
        "wires": [
            [
                "885bfab2d5ff993f"
            ]
        ]
    },
    {
        "id": "b3a343184e4540b4",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "1ed3c647b59a0515"
            ]
        ]
    },
    {
        "id": "7308c9970707be76",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1ed3c647b59a0515",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "learn",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "7308c9970707be76"
            ]
        ]
    },
    {
        "id": "be8516a6c00ace7f",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "5084e194823a3cfd"
            ]
        ]
    },
    {
        "id": "23a66b08458c2fbe",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "85a86a6e671e2902",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "23a66b08458c2fbe"
            ]
        ]
    },
    {
        "id": "5084e194823a3cfd",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 15",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,193,237,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,17,18,18,17,18,17,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,17,17,17,19,17,17,18,18,17,52,16,19,17,18,17,18,17,19,16,18,18,18,17,17,18,18,17,18,17,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,18,17,17,18,18,18,16,19,17,52,17,17,18,52,17,18,17,51,18,52,17,18,17,18,17,19,16,18,17,19,17,17,18,18,17,18,17,52,17,18,17,18,17,19,17,52,16,18,18,52,17,17,17,19,17,52,16,19,17,52,17,18,17,18,17,52,18,17,17,52,17,52,18,51,17,52,17,18,18,51,17,18,17,52,18,51,17,236,17,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "85a86a6e671e2902"
            ]
        ]
    },
    {
        "id": "c4715b3546faa39b",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "24°C",
        "info": "",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "af6bfcc80a68c9dd",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "e5f3a239caa0c53d"
            ]
        ]
    },
    {
        "id": "ff07f309b00ac27f",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b0ada3b192cfcceb",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 740,
        "wires": [
            [
                "ff07f309b00ac27f"
            ]
        ]
    },
    {
        "id": "e5f3a239caa0c53d",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 16",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,236,18,18,17,19,16,18,18,18,16,18,18,18,16,19,16,19,17,18,16,20,16,18,17,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,17,19,16,18,18,18,16,19,17,18,17,18,17,18,17,18,17,52,18,18,16,18,18,18,17,19,16,18,18,18,15,19,18,18,16,19,17,18,17,18,17,18,17,18,17,19,17,18,17,18,17,19,16,18,17,19,16,18,17,19,16,19,16,19,16,19,17,18,18,18,16,19,17,18,16,19,16,53,17,18,17,52,17,52,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,19,17,52,16,20,16,18,17,19,16,53,16,19,16,53,16,18,18,18,17,52,16,19,17,52,17,19,16,18,16,53,18,18,16,52,17,52,18,18,16,53,16,19,17,52,16,19,17,52,17,52,16,236,18,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 740,
        "wires": [
            [
                "b0ada3b192cfcceb"
            ]
        ]
    },
    {
        "id": "afa77e7b0371e237",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "AC OFF",
        "info": "",
        "x": 300,
        "y": 700,
        "wires": []
    },
    {
        "id": "e1387cc424a13107",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "a39e294e7ca8e7f7"
            ]
        ]
    },
    {
        "id": "b34bfb19bf483da8",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9a23597e7fc16b60",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "b34bfb19bf483da8"
            ]
        ]
    },
    {
        "id": "a39e294e7ca8e7f7",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 17",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,195,236,17,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,15,19,18,18,16,18,18,18,16,19,17,18,17,19,16,18,18,18,16,19,16,19,16,19,17,18,16,19,17,19,16,18,17,19,16,19,17,18,16,53,16,19,17,18,17,19,15,19,17,19,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,19,15,19,17,19,16,19,16,19,17,18,17,18,17,18,16,53,16,20,16,52,17,19,15,53,17,52,16,19,17,18,17,19,16,18,17,19,17,18,16,19,17,19,15,54,16,18,17,53,16,53,15,19,18,18,16,52,17,19,16,18,18,52,17,18,16,53,16,19,16,19,17,51,17,19,15,54,17,52,17,18,16,53,16,19,17,52,16,20,16,52,17,52,16,237,15,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 340,
        "wires": [
            [
                "9a23597e7fc16b60"
            ]
        ]
    },
    {
        "id": "7bca601899dc595e",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "22°C",
        "info": "",
        "x": 280,
        "y": 300,
        "wires": []
    },
    {
        "id": "f49cd41116fecd21",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "2d3a6ab81a23a026"
            ]
        ]
    },
    {
        "id": "31f7e00b583ca71f",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe2b2ca810b3b36",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "31f7e00b583ca71f"
            ]
        ]
    },
    {
        "id": "2d3a6ab81a23a026",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 18",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,236,17,18,17,18,17,19,16,18,17,19,17,17,18,18,17,19,16,18,17,19,16,18,18,18,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,17,18,18,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,52,17,19,17,18,17,18,17,18,17,18,17,19,16,18,18,18,16,18,18,18,17,18,17,18,18,18,15,19,18,18,16,19,17,18,16,19,17,18,16,19,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,53,17,18,17,52,16,19,17,52,17,52,16,19,16,19,17,19,16,18,18,18,16,19,17,18,16,19,17,52,17,17,18,18,17,52,16,19,17,18,17,53,16,18,16,20,16,52,17,18,17,53,16,18,18,18,16,52,17,19,17,52,16,53,16,52,17,19,16,18,18,51,18,18,16,52,17,52,17,237,16,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "3fe2b2ca810b3b36"
            ]
        ]
    },
    {
        "id": "2ac951ae1637a84f",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "20°C",
        "info": "",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb0de096c0602b9b",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 840,
        "wires": [
            [
                "366a27f5ffadbe74"
            ]
        ]
    },
    {
        "id": "db49964dc7ae9955",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "562a835878325c49",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "db49964dc7ae9955"
            ]
        ]
    },
    {
        "id": "366a27f5ffadbe74",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 19",
        "func": "//Insert learned data object here\nvar data = [38,0,136,0,0,1,33,144,19,17,18,18,18,18,18,54,19,17,18,18,18,18,18,18,18,54,18,55,17,19,18,17,18,54,19,18,17,19,18,17,19,53,19,55,17,55,17,18,19,17,18,19,17,18,18,54,19,17,18,19,18,17,18,54,19,54,18,54,18,54,18,19,18,0,5,153,0,1,33,72,18,0,12,19,0,1,33,72,19,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,18,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,17,0,12,21,0,1,32,73,18,0,12,19,0,1,33,72,19,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 840,
        "wires": [
            [
                "562a835878325c49"
            ]
        ]
    },
    {
        "id": "cc27f760628b5de3",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "Proyektor ON/OFF",
        "info": "",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "5aabb7b977e1549f",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "4ea8315c0ff4c36e"
            ]
        ]
    },
    {
        "id": "a162d5af399fee34",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "874e5391e4a086b5",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "a162d5af399fee34"
            ]
        ]
    },
    {
        "id": "4ea8315c0ff4c36e",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 20",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,237,17,18,17,18,17,18,17,19,16,18,16,20,16,18,18,18,17,18,16,19,17,19,16,18,18,18,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,51,18,18,16,19,17,18,18,17,17,18,17,19,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,19,17,18,16,19,17,18,16,20,16,18,18,18,16,18,18,18,16,19,17,18,17,19,16,18,18,51,18,18,16,52,18,18,16,53,15,53,17,19,17,18,17,18,17,18,17,18,17,19,16,18,18,18,16,53,16,19,17,52,17,18,16,19,17,19,16,52,16,19,17,19,16,52,17,19,16,53,16,18,18,18,15,54,16,19,17,52,16,53,16,19,17,18,16,19,17,52,17,18,17,52,17,52,17,236,16,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "874e5391e4a086b5"
            ]
        ]
    },
    {
        "id": "d6604b2b1f7b138b",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "18°C",
        "info": "",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "da7b7496eea70098",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "7a2484eb7f2a94c1"
            ]
        ]
    },
    {
        "id": "b537ed034cc23952",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "38b4519ec5cd5e2c",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "b537ed034cc23952"
            ]
        ]
    },
    {
        "id": "7a2484eb7f2a94c1",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 21",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,237,16,19,16,20,15,20,16,19,16,18,18,18,16,19,17,18,16,19,17,18,17,19,16,19,16,19,16,19,17,18,17,18,16,19,17,18,16,21,15,18,18,18,16,19,17,18,17,19,16,18,17,19,15,19,17,19,16,19,17,52,16,19,17,18,16,20,16,19,15,20,16,19,16,19,17,18,17,19,16,20,15,18,18,19,15,18,17,19,16,20,15,19,17,19,16,18,18,18,16,20,16,19,15,20,17,17,17,18,16,20,16,19,16,19,17,53,14,21,15,53,16,19,17,52,17,53,15,20,15,20,16,18,16,20,15,20,17,18,16,20,15,19,16,54,15,19,17,18,17,18,18,18,15,20,16,54,14,19,17,19,16,53,15,21,16,53,15,19,17,18,16,53,15,21,16,53,16,53,14,54,16,53,16,52,17,19,15,21,16,53,15,53,15,238,15,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "38b4519ec5cd5e2c"
            ]
        ]
    },
    {
        "id": "32cafaedfca0c4d5",
        "type": "comment",
        "z": "21c15b8e308c95ae",
        "name": "16°C",
        "info": "",
        "x": 280,
        "y": 600,
        "wires": []
    },
    {
        "id": "921cc8ff9f69f090",
        "type": "tcp in",
        "z": "21c15b8e308c95ae",
        "name": "",
        "server": "server",
        "host": "",
        "port": "808",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "6b0c3cbebcaf16a6",
                "01d47fd44d348f28",
                "8d99ab8a300c1639"
            ]
        ]
    },
    {
        "id": "053cb35761b7d19f",
        "type": "link in",
        "z": "21c15b8e308c95ae",
        "name": "link in 3",
        "links": [
            "014cc32e2164c838"
        ],
        "x": 55,
        "y": 220,
        "wires": [
            [
                "d7986b70b0595b1c",
                "366a27f5ffadbe74"
            ]
        ]
    },
    {
        "id": "d7986b70b0595b1c",
        "type": "delay",
        "z": "21c15b8e308c95ae",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "5084e194823a3cfd"
            ]
        ]
    },
    {
        "id": "6b0c3cbebcaf16a6",
        "type": "delay",
        "z": "21c15b8e308c95ae",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "e5f3a239caa0c53d"
            ]
        ]
    },
    {
        "id": "0de2907606859082",
        "type": "inject",
        "z": "21c15b8e308c95ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "b479f06b196deb96",
                "8d99ab8a300c1639"
            ]
        ]
    },
    {
        "id": "467cc327f0456252",
        "type": "template",
        "z": "21c15b8e308c95ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 930,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "45eba045e9b6a871",
        "type": "RM",
        "z": "21c15b8e308c95ae",
        "name": "RM4PRO",
        "device": "352a28e0d6a2b832",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 760,
        "y": 940,
        "wires": [
            [
                "467cc327f0456252"
            ]
        ]
    },
    {
        "id": "b479f06b196deb96",
        "type": "function",
        "z": "21c15b8e308c95ae",
        "name": "function 38",
        "func": "//Insert learned data object here\nvar data = [38,0,136,0,0,1,33,144,19,17,18,18,18,18,18,54,19,17,18,18,18,18,18,18,18,54,18,55,17,19,18,17,18,54,19,18,17,19,18,17,19,53,19,55,17,55,17,18,19,17,18,19,17,18,18,54,19,17,18,19,18,17,18,54,19,54,18,54,18,54,18,19,18,0,5,153,0,1,33,72,18,0,12,19,0,1,33,72,19,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,18,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,17,0,12,21,0,1,32,73,18,0,12,19,0,1,33,72,19,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 940,
        "wires": [
            [
                "45eba045e9b6a871"
            ]
        ]
    },
    {
        "id": "8d99ab8a300c1639",
        "type": "delay",
        "z": "21c15b8e308c95ae",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 940,
        "wires": [
            [
                "b479f06b196deb96"
            ]
        ]
    },
    {
        "id": "01d47fd44d348f28",
        "type": "delay",
        "z": "21c15b8e308c95ae",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 900,
        "wires": [
            [
                "b479f06b196deb96"
            ]
        ]
    },
    {
        "id": "885bfab2d5ff993f",
        "type": "debug",
        "z": "21c15b8e308c95ae",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "e617c318815096b5",
        "type": "rmdevice",
        "folder": "",
        "mac": "e87072deca91",
        "host": "10.12.1.116",
        "devType": "520b"
    },
    {
        "id": "352a28e0d6a2b832",
        "type": "rmdevice",
        "folder": "",
        "mac": "e87072ded42e",
        "host": "10.12.1.62",
        "devType": "520b"
    },
    {
        "id": "02fd848923871d09",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-broadlink-control": "2.1.6"
        }
    }
]