backend/nodered/Q1.01.03-COLLECTOR.json
[
    {
        "id": "tab_q1_01_03",
        "type": "tab",
        "label": "Q1.01.03 - Sensor Data Collector",
        "disabled": false,
        "info": "Collect sensor data from Q1.01.03 devices → Send to database"
    },
    {
        "id": "mqtt_in_q1_03",
        "type": "mqtt in",
        "z": "tab_q1_01_03",
        "name": "MQTT - Q1.01.03 Devices",
        "topic": "sensor/q1.01.03/+",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [["parse_data_03"]]
    },
    {
        "id": "parse_data_03",
        "type": "function",
        "z": "tab_q1_01_03",
        "name": "Parse & Extract",
        "func": "let data = msg.payload;\nif (typeof msg.payload === 'string') {\n    try {\n        data = JSON.parse(msg.payload);\n    } catch(e) {\n        node.warn('Failed to parse: ' + e.message);\n        return null;\n    }\n}\n\nlet now = new Date();\nmsg.parsed = {\n    device_id: data.device_id || 2,\n    class_code: 'Q1.01.03',\n    consumption: parseFloat(data.power || data.consumption || 0),\n    temperature: data.temperature ? parseFloat(data.temperature) : null,\n    humidity: data.humidity ? parseFloat(data.humidity) : null,\n    consumption_date: now.toISOString().split('T')[0],\n    hour_start: now.getHours().toString().padStart(2,'0') + ':00:00',\n    hour_end: now.getHours().toString().padStart(2,'0') + ':59:59',\n    raw_payload: data\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 100,
        "wires": [["validate_03", "debug_parsed_03"]]
    },
    {
        "id": "validate_03",
        "type": "function",
        "z": "tab_q1_01_03",
        "name": "Validate",
        "func": "let p = msg.parsed;\n\nif (!p.device_id) {\n    node.warn('Missing device_id');\n    return null;\n}\n\nif (p.consumption < 0 || p.consumption > 100) {\n    node.warn('Consumption out of range: ' + p.consumption);\n}\n\nif (p.temperature && (p.temperature < -50 || p.temperature > 60)) {\n    node.warn('Temperature invalid: ' + p.temperature);\n}\n\nif (p.humidity && (p.humidity < 0 || p.humidity > 100)) {\n    node.warn('Humidity invalid: ' + p.humidity);\n}\n\nnode.status({fill:'green', shape:'dot', text:'Valid'});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [["send_db_03"]]
    },
    {
        "id": "send_db_03",
        "type": "http request",
        "z": "tab_q1_01_03",
        "name": "POST to API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5002/api/v1/consumption",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [{"keyType": "Content-Type", "keyValue": "application/json"}],
        "x": 750,
        "y": 100,
        "wires": [["response_03"]]
    },
    {
        "id": "response_03",
        "type": "function",
        "z": "tab_q1_01_03",
        "name": "Check Response",
        "func": "let text = msg.payload;\ntry {\n    let data = JSON.parse(text);\n    if (data.success || data.id) {\n        node.status({fill:'green', shape:'dot', text:'Saved @ ' + new Date().toLocaleTimeString()});\n        return msg;\n    } else {\n        node.warn('API Error: ' + (data.message || 'Unknown'));\n        node.status({fill:'red', shape:'ring', text:'Error'});\n        return null;\n    }\n} catch(e) {\n    node.warn('Parse error: ' + e.message);\n    node.status({fill:'red', shape:'ring', text:'Error'});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 100,
        "wires": [["debug_success_03"]]
    },
    {
        "id": "debug_parsed_03",
        "type": "debug",
        "z": "tab_q1_01_03",
        "name": "Parsed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parsed",
        "targetType": "msg",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_success_03",
        "type": "debug",
        "z": "tab_q1_01_03",
        "name": "Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-collector",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true
    }
]
