backend/nodered/Q1.01.02.json
[
    {
        "id": "39f64d3adcaa74aa",
        "type": "tab",
        "label": "Q1.01.02 (Class Room 1)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ebbd34f88aed77c",
        "type": "Discover",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "239b5e4a672314e6",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "6ebbd34f88aed77c"
            ]
        ]
    },
    {
        "id": "7c5362cb2f84d799",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "4dc8da46e3af879f"
            ]
        ]
    },
    {
        "id": "d1bb378123871de6",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 700,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4dc8da46e3af879f",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "learn",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "d1bb378123871de6"
            ]
        ]
    },
    {
        "id": "f829cf4675a09f89",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "1d5ca83401c0603d"
            ]
        ]
    },
    {
        "id": "9d382fe20dbb5861",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "32475fa0c94945c1",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "9d382fe20dbb5861"
            ]
        ]
    },
    {
        "id": "1d5ca83401c0603d",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 1",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,193,237,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,17,18,18,17,18,17,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,17,17,17,19,17,17,18,18,17,52,16,19,17,18,17,18,17,19,16,18,18,18,17,17,18,18,17,18,17,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,18,17,17,18,18,18,16,19,17,52,17,17,18,52,17,18,17,51,18,52,17,18,17,18,17,19,16,18,17,19,17,17,18,18,17,18,17,52,17,18,17,18,17,19,17,52,16,18,18,52,17,17,17,19,17,52,16,19,17,52,17,18,17,18,17,52,18,17,17,52,17,52,18,51,17,52,17,18,18,51,17,18,17,52,18,51,17,236,17,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "32475fa0c94945c1"
            ]
        ]
    },
    {
        "id": "dc5243a9954b97b9",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "24°C",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d88f714b47459ef",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "eee3eef18aa374e3"
            ]
        ]
    },
    {
        "id": "169f1f3b25283aa4",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7eb175f26a92b242",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 740,
        "wires": [
            [
                "169f1f3b25283aa4"
            ]
        ]
    },
    {
        "id": "eee3eef18aa374e3",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 2",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,236,18,18,17,19,16,18,18,18,16,18,18,18,16,19,16,19,17,18,16,20,16,18,17,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,17,19,16,18,18,18,16,19,17,18,17,18,17,18,17,18,17,52,18,18,16,18,18,18,17,19,16,18,18,18,15,19,18,18,16,19,17,18,17,18,17,18,17,18,17,19,17,18,17,18,17,19,16,18,17,19,16,18,17,19,16,19,16,19,16,19,17,18,18,18,16,19,17,18,16,19,16,53,17,18,17,52,17,52,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,19,17,52,16,20,16,18,17,19,16,53,16,19,16,53,16,18,18,18,17,52,16,19,17,52,17,19,16,18,16,53,18,18,16,52,17,52,18,18,16,53,16,19,17,52,16,19,17,52,17,52,16,236,18,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 740,
        "wires": [
            [
                "7eb175f26a92b242"
            ]
        ]
    },
    {
        "id": "f7d38b51a40c6e75",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "AC OFF",
        "info": "",
        "x": 300,
        "y": 700,
        "wires": []
    },
    {
        "id": "191e6b57fbe83eb1",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "e90966d81958324b"
            ]
        ]
    },
    {
        "id": "7780598e80596573",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1604c70cd186ba",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "7780598e80596573"
            ]
        ]
    },
    {
        "id": "e90966d81958324b",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 3",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,195,236,17,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,18,17,19,15,19,18,18,16,18,18,18,16,19,17,18,17,19,16,18,18,18,16,19,16,19,16,19,17,18,16,19,17,19,16,18,17,19,16,19,17,18,16,53,16,19,17,18,17,19,15,19,17,19,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,19,17,18,17,19,15,19,17,19,16,19,16,19,17,18,17,18,17,18,16,53,16,20,16,52,17,19,15,53,17,52,16,19,17,18,17,19,16,18,17,19,17,18,16,19,17,19,15,54,16,18,17,53,16,53,15,19,18,18,16,52,17,19,16,18,18,52,17,18,16,53,16,19,16,19,17,51,17,19,15,54,17,52,17,18,16,53,16,19,17,52,16,20,16,52,17,52,16,237,15,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "fc1604c70cd186ba"
            ]
        ]
    },
    {
        "id": "39a55b247a2dbfa3",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "22°C",
        "info": "",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "f58846a9840487f8",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "2def094332328a65"
            ]
        ]
    },
    {
        "id": "f0ad4c8758b6a32f",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d43f6e65ef3ce044",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "f0ad4c8758b6a32f"
            ]
        ]
    },
    {
        "id": "2def094332328a65",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 4",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,236,17,18,17,18,17,19,16,18,17,19,17,17,18,18,17,19,16,18,17,19,16,18,18,18,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,17,18,18,17,18,17,18,17,19,16,18,17,19,16,18,18,18,16,52,17,19,17,18,17,18,17,18,17,18,17,19,16,18,18,18,16,18,18,18,17,18,17,18,18,18,15,19,18,18,16,19,17,18,16,19,17,18,16,19,17,19,16,18,17,19,16,18,18,18,16,19,17,18,16,53,17,18,17,52,16,19,17,52,17,52,16,19,16,19,17,19,16,18,18,18,16,19,17,18,16,19,17,52,17,17,18,18,17,52,16,19,17,18,17,53,16,18,16,20,16,52,17,18,17,53,16,18,18,18,16,52,17,19,17,52,16,53,16,52,17,19,16,18,18,51,18,18,16,52,17,52,17,237,16,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "d43f6e65ef3ce044"
            ]
        ]
    },
    {
        "id": "18f0123b82867d6b",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "20°C",
        "info": "",
        "x": 290,
        "y": 400,
        "wires": []
    },
    {
        "id": "4cc3830258ee4378",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 840,
        "wires": [
            [
                "497cfa68ee9901d7"
            ]
        ]
    },
    {
        "id": "80601024e1baf6fe",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "84c3b04b4bb8e659",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "80601024e1baf6fe"
            ]
        ]
    },
    {
        "id": "497cfa68ee9901d7",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 5",
        "func": "//Insert learned data object here\nvar data = [38,0,136,0,0,1,33,144,19,17,18,18,18,18,18,54,19,17,18,18,18,18,18,18,18,54,18,55,17,19,18,17,18,54,19,18,17,19,18,17,19,53,19,55,17,55,17,18,19,17,18,19,17,18,18,54,19,17,18,19,18,17,18,54,19,54,18,54,18,54,18,19,18,0,5,153,0,1,33,72,18,0,12,19,0,1,33,72,19,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,18,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,17,0,12,21,0,1,32,73,18,0,12,19,0,1,33,72,19,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 840,
        "wires": [
            [
                "84c3b04b4bb8e659"
            ]
        ]
    },
    {
        "id": "e81882c0dc0ca12d",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "Proyektor ON/OFF",
        "info": "",
        "x": 330,
        "y": 800,
        "wires": []
    },
    {
        "id": "202d4e946cc98049",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "09d58366aafcd4ba"
            ]
        ]
    },
    {
        "id": "281a8023f0da6621",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f3c78b74955357f4",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "281a8023f0da6621"
            ]
        ]
    },
    {
        "id": "09d58366aafcd4ba",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 6",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,237,17,18,17,18,17,18,17,19,16,18,16,20,16,18,18,18,17,18,16,19,17,19,16,18,18,18,16,18,18,18,16,19,17,18,17,18,17,18,18,17,17,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,18,18,51,18,18,16,19,17,18,18,17,17,18,17,19,16,19,17,18,16,19,17,18,17,18,17,19,16,18,17,19,16,19,17,18,16,19,17,18,16,20,16,18,18,18,16,18,18,18,16,19,17,18,17,19,16,18,18,51,18,18,16,52,18,18,16,53,15,53,17,19,17,18,17,18,17,18,17,18,17,19,16,18,18,18,16,53,16,19,17,52,17,18,16,19,17,19,16,52,16,19,17,19,16,52,17,19,16,53,16,18,18,18,15,54,16,19,17,52,16,53,16,19,17,18,16,19,17,52,17,18,17,52,17,52,17,236,16,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "f3c78b74955357f4"
            ]
        ]
    },
    {
        "id": "d99a4c6052403a47",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "18°C",
        "info": "",
        "x": 290,
        "y": 500,
        "wires": []
    },
    {
        "id": "81e7519b03064b75",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "b236d4d2c09384ae"
            ]
        ]
    },
    {
        "id": "7b6553da8d05b6dd",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 820,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e942db803fcba2e2",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "7b6553da8d05b6dd"
            ]
        ]
    },
    {
        "id": "b236d4d2c09384ae",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 7",
        "func": "//Insert learned data object here\nvar data = [38,0,200,0,194,237,16,19,16,20,15,20,16,19,16,18,18,18,16,19,17,18,16,19,17,18,17,19,16,19,16,19,16,19,17,18,17,18,16,19,17,18,16,21,15,18,18,18,16,19,17,18,17,19,16,18,17,19,15,19,17,19,16,19,17,52,16,19,17,18,16,20,16,19,15,20,16,19,16,19,17,18,17,19,16,20,15,18,18,19,15,18,17,19,16,20,15,19,17,19,16,18,18,18,16,20,16,19,15,20,17,17,17,18,16,20,16,19,16,19,17,53,14,21,15,53,16,19,17,52,17,53,15,20,15,20,16,18,16,20,15,20,17,18,16,20,15,19,16,54,15,19,17,18,17,18,18,18,15,20,16,54,14,19,17,19,16,53,15,21,16,53,15,19,17,18,16,53,15,21,16,53,16,53,14,54,16,53,16,52,17,19,15,21,16,53,15,53,15,238,15,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "e942db803fcba2e2"
            ]
        ]
    },
    {
        "id": "3bb6cbefd7066bc6",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "16°C",
        "info": "",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "be4b1415d13fc6e9",
        "type": "link in",
        "z": "39f64d3adcaa74aa",
        "name": "link in 1",
        "links": [
            "c95aed5f0fd402f4"
        ],
        "x": 35,
        "y": 240,
        "wires": [
            [
                "497cfa68ee9901d7",
                "1751a2fc87dd501c",
                "91df216d44dfb6fe"
            ]
        ]
    },
    {
        "id": "4ce34c62f0a0419e",
        "type": "inject",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "f321adaff28d8fa1",
                "73d4c474d0ee87b6"
            ]
        ]
    },
    {
        "id": "4f8fab5f94487cea",
        "type": "template",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.data}}",
        "output": "str",
        "x": 980,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "fdf37eeea2bbd20c",
        "type": "RM",
        "z": "39f64d3adcaa74aa",
        "name": "RM4PRO",
        "device": "e617c318815096b5",
        "action": "_msg_",
        "remote": "",
        "button": "",
        "fix": 1,
        "RFSweep": "false",
        "x": 800,
        "y": 940,
        "wires": [
            [
                "4f8fab5f94487cea"
            ]
        ]
    },
    {
        "id": "f321adaff28d8fa1",
        "type": "function",
        "z": "39f64d3adcaa74aa",
        "name": "function 36",
        "func": "//Insert learned data object here\nvar data = [38,0,136,0,0,1,33,144,19,17,18,18,18,18,18,54,19,17,18,18,18,18,18,18,18,54,18,55,17,19,18,17,18,54,19,18,17,19,18,17,19,53,19,55,17,55,17,18,19,17,18,19,17,18,18,54,19,17,18,19,18,17,18,54,19,54,18,54,18,54,18,19,18,0,5,153,0,1,33,72,18,0,12,19,0,1,33,72,19,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,18,0,12,19,0,1,33,72,18,0,12,20,0,1,33,72,17,0,12,21,0,1,32,73,18,0,12,19,0,1,33,72,19,0,13,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n// or Base64 encoded format from other source\n//var data = \"JgBMAnM3ECkQKRANEAwRDQ8pEAwQDRApDyoQDQ8pEA0QDRAoECkQDRAoEigQDBEMECkRDBAMECkQDRAMEA0QDRAMEA0QDRANDw4PDQ8NEA0PDRANEA0RDA8NEAwRDBAMESgQDRAMEA0QDRAMESgQKRANEAwRDBApDyoQDBApEA4PDBILEQwQDRAoESgRDBApECkQDBANECkQDBANECgRDBANECkQDBEoEQwQKQ8NEA0QKQ8qEAwQDRAMEA0QDQ8NEA0QDBEMEAwRDQ8ODwwRDBAMEA0QDRAMEA0QDBANEQwQDRAMEA4PDRANEAwQDBANEA0QDBEMEAwQDRAMEA4PDBEMEA0PDRANEAwRDQ4OEAwRDBEMEAwQDRANECgQKRApECkQDBEMEAACMnc4ECgQKRANEQwQDQ8pEQwQDQ8qECgQDRApEA0QDBEoECkQDBEoECkQDRAMECkQDRAMECkQDRANEAwQDRANDw0QDQ8NEQwQDBEMEA0PDRENDw0QDBANDw0QDRANECgRDBAMEA0QDRAMECkRKBANEAwRDBApECkQDBEoEQwQDRAMEA0QDBApECkQDRApECgQDRANECgRDBANECgRDBANECgRDBApEAwQKRANEAwRKBApEQwQDBEMEA0QDBEMEA0QDQ8NDw0RDBAMEQwQDRAMEA0QDBEMEA0QDBANEAwQDRANEAwQDRANEAwQDRAMEA0QDRAMEA0QDBANEA0RCxILEQwQDBEMEA0QDBEMEA0QDQ8NEQwQDBANECkPKhApECkQDBANEAANBQAAAAAAAAAAAAAAAA==\"\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 940,
        "wires": [
            [
                "fdf37eeea2bbd20c"
            ]
        ]
    },
    {
        "id": "b8b0d5440fcdbb26",
        "type": "comment",
        "z": "39f64d3adcaa74aa",
        "name": "Proyektor OFF",
        "info": "",
        "x": 320,
        "y": 900,
        "wires": []
    },
    {
        "id": "73d4c474d0ee87b6",
        "type": "delay",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 940,
        "wires": [
            [
                "f321adaff28d8fa1"
            ]
        ]
    },
    {
        "id": "e854e779dacb1852",
        "type": "tcp in",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "server": "server",
        "host": "",
        "port": "806",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "eee3eef18aa374e3",
                "73d4c474d0ee87b6",
                "34a7b94f92ad91fd",
                "929e1d932609d4d1"
            ]
        ]
    },
    {
        "id": "1751a2fc87dd501c",
        "type": "delay",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "1d5ca83401c0603d"
            ]
        ]
    },
    {
        "id": "34a7b94f92ad91fd",
        "type": "delay",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 900,
        "wires": [
            [
                "f321adaff28d8fa1"
            ]
        ]
    },
    {
        "id": "929e1d932609d4d1",
        "type": "delay",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "eee3eef18aa374e3"
            ]
        ]
    },
    {
        "id": "91df216d44dfb6fe",
        "type": "delay",
        "z": "39f64d3adcaa74aa",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "1d5ca83401c0603d"
            ]
        ]
    },
    {
        "id": "e617c318815096b5",
        "type": "rmdevice",
        "folder": "",
        "mac": "e87072deca91",
        "host": "10.12.1.116",
        "devType": "520b"
    },
    {
        "id": "d1702fd8f1249e8c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-broadlink-control": "2.1.6"
        }
    }
]